{% extends 'base.html' %}
{% load humanize %}

{% block title %}{% endblock %}
{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col">
        <a href="{% url 'home' %}" class="mt-5 leading-relaxed text-indigo-500 hover:text-indigo-800 hover:font-bold mb-4">Back </a>
      <div class="lg:w-4/6 mx-20">
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-20 h-20 rounded-xl inline-flex items-center justify-center bg-gray-200 text-gray-400">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">{{item.by}}</h2>
              <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <a {% if item.url %} href="{{item.url}}" {% endif %} class="text-2xl font-medium text-gray-900 title-font mb-10">{{item.title}}</a><br>
            <div class="mt-10">
                {% if item.text %}
                <p class="leading-relaxed text-lg mb-4">{{item.text | safe}}</p>
                {% endif %}
                <p class="mt-5 leading-relaxed text-sm">Points: {{item.score}} |  Comments: {{item.descendants}} | {% if not item.fetched %} From Our API{% endif %} From Hacker News API </p>
                <p class="leading-relaxed text-sm mb-4">Posted: {{item.time}}</p>
            </div>

          </div>
            </div>
            
            <div class="md:flex-grow mt-20">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-10">Comments</h2>
                <div class="ml-10">
                    {% for comment in item.item_set.all %}
                    <h2 class="text-lg font-medium text-gray-900 title-font mb-3">Comment By: {{comment.by}}</h2>
                    <p class="leading-relaxed">{{comment.text | safe}}</p>
                    <p class="font-bold text-sm">{{comment.time | naturaltime}}</p>
                    <p class="text-indigo-500 inline-flex items-center mt-2 mb-5">Points: {{comment.score}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}