{% extends 'base.html' %}
{% load humanize %}
{% block title %}{% endblock %}
{% block content %}

<section class="text-gray-600 body-font overflow-hidden infinte-container">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        {% for item in item_list %}
          {% if item.type != 'comment' %}
            <div class="py-8 flex flex-wrap md:flex-nowrap infinte-item">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700">{{item.by}}</span>
                <span class="mt-1 text-gray-500 text-sm">{{item.time|naturaltime}}</span>
              </div>
              <div class="md:flex-grow">
                {% if item.url %}
                <a href="{{item.url}}" class="text-2xl font-medium text-gray-900 title-font mb-2">{{item.title}}</a><br>
                {% else %}
                <a href="{% url 'news:news_details' item.id %}" class="text-2xl font-medium text-gray-900 title-font mb-2">{{item.title}}</a><br>
                {% endif %}
                {% if item.text %}
                <p class="leading-relaxed">{{item.text|truncatewords:50 | safe}}</p>
                {% endif %}
                <a href="{% url 'news:news_details' item.id %}" class="text-indigo-500 inline-flex items-center mt-4">Full Story
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        <p>Page Number: {{page_obj.number}}</p>
        {% if page_obj.has_previous %}
          <a class="infinite-more-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}